body {
  background-color: $secondary;
}

.button {
  background-color: #de8e00;
  color: white;
  border-radius: 8px;
  border: none;
  font-family: "Montserrat";
  font-size: 18px;
  font-weight: 600;
  width: 100%;
  padding: 10px 0;
  max-width: 425px;
  cursor: pointer;
}
